.new-expense-controls{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 1rem;
    gap: 1rem;
}

.new-expense-control label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.new-expense-control input{
    font: inherit;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.new-expense-actions{
    text-align: right;
}